---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ api_certificate_name }}
  namespace: {{ app_namespace }}
spec:
  isCA: true
  dnsNames:
  - {{ api_service_name }}.{{ app_namespace }}.svc
  commonName: {{ api_certificate_name }}
  secretName: {{ api_tls_secret_name }}
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: {{ app_name }}-issuer
    kind: Issuer
    group: cert-manager.io
