---
apiVersion: v1
kind: Service
metadata:
{% if not k8s_cluster|bool %}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ api_tls_secret_name }}
{% endif %}
  name: {{ api_service_name }}
  namespace: "{{ app_namespace }}"
  labels:
    app: {{ app_name }}
    service: {{ api_service_name }}
spec:
  type: ClusterIP
  selector:
    app: {{ app_name }}
    service: {{ api_service_name }}
  ports:
  - name: api-https
    port: 443
    targetPort: 8443
    protocol: TCP
