# Do not add webhooks to this file
# This configuration has been deprecated
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ api_deployment_name }}
  namespace: ""
