---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ metrics_rule_name }}
  namespace: {{ app_namespace }}
spec:
  groups:
  - name: mtv-migrations
    rules:
    - record: cluster:mtv_migrations_status_total:sum
      expr: max by(status, provider, mode, target) (mtv_migrations_status_total)
      labels:
        app: {{ app_name }}
