---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ metrics_rule_name }}
  namespace: {{ app_namespace }}
spec:
  groups:
  - name: mtv-migrations
    rules:
    - record: cluster:mtv_migrations_status_total:sum
      expr: max by(status, provider, mode, target) (mtv_migrations_status_total)
      labels:
        app: {{ app_name }}
    - record: mtv_migration_net_throughput
      expr: |
        sum by (plan_id, plan_name) (
          label_replace(
            sum by (pod) (
              rate(container_network_transmit_bytes_total{interface!="lo"}[2m]) +
              rate(container_network_receive_bytes_total{interface!="lo"}[2m])
            )
            * on (pod) group_left(label_plan)
            (
              kube_pod_labels{label_plan!="", label_forklift_app!~"virt-v2v.*"}
            ),
            "plan_id", "$1", "label_plan", "(.*)"
          )
        ) * on (plan_id) group_left(plan_name) label_replace(
          group by (plan, plan_name) (mtv_plan_alert_status{status="Executing", mode=~"Warm"}),
          "plan_id", "$1", "plan", "(.*)"
        )
        or
        sum by (plan_id, plan_name) (
          label_replace(
            sum by (pod) (
              rate(container_network_transmit_bytes_total{interface!="lo"}[2m]) +
              rate(container_network_receive_bytes_total{interface!="lo"}[2m])
            )
            * on (pod) group_left(label_plan)
            (
              kube_pod_labels{label_plan!="", label_forklift_app!~"virt-v2v-inspector"}
            ),
            "plan_id", "$1", "label_plan", "(.*)"
          )
        ) * on (plan_id) group_left(plan_name) label_replace(
          group by (plan, plan_name) (mtv_plan_alert_status{status="Executing", mode=~"Cold"}),
          "plan_id", "$1", "plan", "(.*)"
        )
    - record: mtv_migration_storage_throughput
      expr: |
        sum by (plan_id, plan_name) (
          label_replace((
            rate(mtv_migration_data_transferred_bytes[2m])
            * on(plan) group_left(plan_name) mtv_plan_alert_status{status="Executing"}
          ), "plan_id", "$1", "plan", "(.*)")
        )
