# Operator
## Default operator config
build --action_env=VERSION=99.0.0
build --action_env=NAMESPACE=konveyor-forklift
build --action_env=CHANNELS=development
build --action_env=DEFAULT_CHANNEL=development

## Images which should be installed
build --action_env=CONTROLLER_IMAGE=quay.io/konveyor/forklift-controller:latest
build --action_env=MUST_GATHER_IMAGE=quay.io/konveyor/forklift-must-gather:latest
build --action_env=MUST_GATHER_API_IMAGE=quay.io/konveyor/forklift-must-gather-api:latest
build --action_env=UI_IMAGE=quay.io/konveyor/forklift-ui:latest
build --action_env=VALIDATION_IMAGE=quay.io/konveyor/forklift-validation:latest
build --action_env=VIRT_V2V_IMAGE=quay.io/konveyor/forklift-virt-v2v:latest
build --action_env=OPERATOR_IMAGE=quay.io/konveyor/forklift-operator:latest
