---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ populator_controller_deployment_name }}
  namespace: {{ app_namespace }}
spec:
  selector:
    matchLabels:
      app: {{ app_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
    spec:
      serviceAccountName: forklift-populator-controller
      containers:
        - name: {{ populator_controller_container_name }}
          image: {{ populator_controller_image_fqin }}
          imagePullPolicy: {{ image_pull_policy }}
          env:
          - name: POD_NAMESPACE
            valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
          - name: OVIRT_POPULATOR_IMAGE
            value: {{ populator_ovirt_image_fqin }}
          - name: OPENSTACK_POPULATOR_IMAGE
            value: {{ populator_openstack_image_fqin }}
{% if feature_copy_offload|bool %}
          - name: VSPHERE_XCOPY_VOLUME_POPULATOR_IMAGE
            value: {{ populator_vsphere_xcopy_volume_image_fqin }}
{% endif %}
          - name: POPULATOR_CONTAINER_LIMITS_CPU
            value: "{{ populator_container_limits_cpu }}"
          - name: POPULATOR_CONTAINER_LIMITS_MEMORY
            value: "{{ populator_container_limits_memory }}"
          - name: POPULATOR_CONTAINER_REQUESTS_CPU
            value: "{{ populator_container_requests_cpu }}"
          - name: POPULATOR_CONTAINER_REQUESTS_MEMORY
            value: "{{ populator_container_requests_memory }}"
          ports:
            - containerPort: 8080
              name: http-endpoint
              protocol: TCP
