---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ populator_controller_deployment_name }}
  namespace: {{ app_namespace }}
spec:
  selector:
    matchLabels:
      app: {{ app_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
    spec:
      serviceAccountName: forklift-populator-controller
      containers:
        - name: {{ populator_controller_container_name }}
          image: {{ populator_controller_image_fqin }}
          imagePullPolicy: {{ image_pull_policy }}
          env:
          - name: POD_NAMESPACE
            valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
          - name: OVIRT_POPULATOR_IMAGE
            value: {{ populator_ovirt_image_fqin }}
          - name: OPENSTACK_POPULATOR_IMAGE
            value: {{ populator_openstack_image_fqin }}
{% if feature_copy_offload|bool %}
          - name: VSPHERE_XCOPY_VOLUME_POPULATOR_IMAGE
            value: {{ populator_vsphere_xcopy_volume_image_fqin }}
{% if controller_host_lease_namespace is defined %}
          - name: HOST_LEASE_NAMESPACE
            value: "{{ controller_host_lease_namespace }}"
{% endif %}
{% if controller_host_lease_duration_seconds is number %}
          - name: HOST_LEASE_DURATION_SECONDS
            value: "{{ controller_host_lease_duration_seconds }}"
{% endif %}
{% endif %}
          ports:
            - containerPort: 8080
              name: http-endpoint
              protocol: TCP
