---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ app_name }}
    service: {{ controller_service_name }}
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
  name: {{ controller_configmap_name }}
  namespace: {{ app_namespace }}
data:
  WORKING_DIR: {{ inventory_volume_path }}
{% if controller_precopy_interval is number %}
  PRECOPY_INTERVAL: "{{ controller_precopy_interval }}"
{% endif %}
{% if controller_max_vm_inflight is number %}
  MAX_VM_INFLIGHT: "{{ controller_max_vm_inflight }}"
{% endif %}