---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ app_name }}
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
  name: {{ controller_deployment_name }}
  namespace: {{ app_namespace }}
spec:
  selector:
    matchLabels:
      app: {{ app_name }}
      control-plane: controller-manager
      controller-tools.k8s.io: "1.0"
  serviceName: {{ controller_service_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
        control-plane: controller-manager
        controller-tools.k8s.io: "1.0"
        prometheus.forklift.konveyor.io: "true" 
      annotations:
        configHash: "{{ (inventory_volume_path | string) }}"
    spec:
      serviceAccountName: {{ controller_service_name }}
      containers:
      - name: main
        command:
        - /usr/local/bin/forklift-controller
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: ROLE
          value: main
        - name: API_HOST
          value: {{ inventory_service_name }}.{{ app_namespace }}.svc.cluster.local
        - name: KUBEVIRT_CLIENT_GO_SCHEME_REGISTRATION_VERSION
          value: "v1"
        - name: VIRT_V2V_IMAGE
          value: {{ virt_v2v_image_fqin }}
        - name: API_PORT
          value: "8443"
        - name: METRICS_PORT
          value: '8081'
{% if k8s_cluster|bool %}
        - name: API_TLS_CA
          value: /var/run/secrets/{{ inventory_tls_secret_name }}/ca.crt
{% endif %}
        - name: OPENSHIFT
{% if k8s_cluster|bool %}
          value: "false"
{% else %}
          value: "true"
{% endif %}
{% if controller_log_level is defined and controller_log_level is number %}
        - name: LOG_LEVEL
          value: "{{ controller_log_level }}"
{% endif %}
{% if controller_precopy_interval is number %}
        - name: PRECOPY_INTERVAL
          value: "{{ controller_precopy_interval }}"
{% endif %}
{% if controller_vddk_job_active_deadline_sec is number %}
        - name: VDDK_JOB_ACTIVE_DEADLINE
          value: "{{ controller_vddk_job_active_deadline_sec }}"
{% endif %}
{% if controller_snapshot_removal_timeout_minuts is number %}
        - name: SNAPSHOT_REMOVAL_TIMEOUT_MINUTES
          value: "{{ controller_snapshot_removal_timeout_minuts }}"
{% endif %}
{% if controller_snapshot_status_check_rate_seconds is number %}
        - name: SNAPSHOT_STATUS_CHECK_RATE_SECONDS
          value: "{{ controller_snapshot_status_check_rate_seconds }}"
{% endif %}
{% if controller_cleanup_retries is number %}
        - name: CLEANUP_RETRIES
          value: "{{ controller_cleanup_retries }}"
{% endif %}
{% if controller_dv_status_check_retries is number %}
        - name: DV_STATUS_CHECK_RETRIES
          value: "{{ controller_dv_status_check_retries }}"
{% endif %}
{% if controller_snapshot_removal_check_retries is number %}
        - name: SNAPSHOT_REMOVAL_CHECK_RETRIES
          value: "{{ controller_snapshot_removal_check_retries }}"
{% endif %}
{% if controller_max_vm_inflight is number %}
        - name: MAX_VM_INFLIGHT
          value: "{{ controller_max_vm_inflight }}"
{% endif %}
{% if vddk_image is string and vddk_image|length > 0 %}
        - name: VDDK_IMAGE
          value: "{{ vddk_image }}"
{% endif %}
{% if controller_cdi_export_token_ttl is number %}
        - name: CDI_EXPORT_TOKEN_TTL
          value: "{{ controller_cdi_export_token_ttl }}"
{% endif %}
{% if controller_filesystem_overhead is number %}
        - name: FILESYSTEM_OVERHEAD
          value: "{{ controller_filesystem_overhead }}"
{% endif %}
        - name: BLOCK_OVERHEAD
          value: "{{ controller_block_overhead }}"
{% if controller_vsphere_incremental_backup|bool %}
        - name: FEATURE_VSPHERE_INCREMENTAL_BACKUP
          value: "true"
{% endif %}
{% if feature_copy_offload|bool %}
        - name: FEATURE_COPY_OFFLOAD
          value: "true"
{% endif %}

{% if controller_ovirt_warm_migration|bool %}
        - name: FEATURE_OVIRT_WARM_MIGRATION
          value: "true"
{% endif %}
{% if controller_retain_precopy_importer_pods|bool %}
        - name: FEATURE_RETAIN_PRECOPY_IMPORTER_PODS
          value: "true"
{% endif %}
{% if ovirt_osmap_configmap_name is defined %}
        - name: OVIRT_OS_MAP
          value: {{ ovirt_osmap_configmap_name }}
{% endif %}
{% if vsphere_osmap_configmap_name is defined %}
        - name: VSPHERE_OS_MAP
          value: {{ vsphere_osmap_configmap_name }}
{% endif %}
{% if virt_customize_configmap_name is defined %}
        - name: VIRT_CUSTOMIZE_MAP
          value: {{ virt_customize_configmap_name }}
{% endif %}
{% if controller_profile_kind is defined and controller_profile_path is defined and controller_profile_duration is defined %}
        - name: PROFILE_KIND
          value: "{{ controller_profile_kind }}"
        - name: PROFILE_PATH
          value: "{{ controller_profile_path }}/main"
        - name: PROFILE_DURATION
          value: "{{ controller_profile_duration }}"
{% endif %}
{% if virt_v2v_dont_request_kvm|bool %}
        - name: VIRT_V2V_DONT_REQUEST_KVM
          value: "true"
{% endif %}
        - name: VIRT_V2V_EXTRA_ARGS
          value: "{{ virt_v2v_extra_args }}"
        - name: VIRT_V2V_EXTRA_CONF_CONFIG_MAP
          value: "{{ virt_v2v_extra_conf_config_map }}"
        - name: VIRT_V2V_CONTAINER_LIMITS_CPU
          value: "{{ virt_v2v_container_limits_cpu }}"
        - name: VIRT_V2V_CONTAINER_LIMITS_MEMORY
          value: "{{ virt_v2v_container_limits_memory }}"
        - name: VIRT_V2V_CONTAINER_REQUESTS_CPU
          value: "{{ virt_v2v_container_requests_cpu }}"
        - name: VIRT_V2V_CONTAINER_REQUESTS_MEMORY
          value: "{{ virt_v2v_container_requests_memory }}"
        - name: HOOKS_CONTAINER_LIMITS_CPU
          value: "{{ hooks_container_limits_cpu }}"
        - name: HOOKS_CONTAINER_LIMITS_MEMORY
          value: "{{ hooks_container_limits_memory }}"
        - name: HOOKS_CONTAINER_REQUESTS_CPU
          value: "{{ hooks_container_requests_cpu }}"
        - name: HOOKS_CONTAINER_REQUESTS_MEMORY
          value: "{{ hooks_container_requests_memory }}"
        - name: OVA_CONTAINER_LIMITS_CPU
          value: "{{ ova_container_limits_cpu }}"
        - name: OVA_CONTAINER_LIMITS_MEMORY
          value: "{{ ova_container_limits_memory }}"
        - name: OVA_CONTAINER_REQUESTS_CPU
          value: "{{ ova_container_requests_cpu }}"
        - name: OVA_CONTAINER_REQUESTS_MEMORY
          value: "{{ ova_container_requests_memory }}"
        envFrom:
        - configMapRef:
            name: {{ controller_configmap_name }}
        image: {{ controller_image_fqin }}
        imagePullPolicy: {{ image_pull_policy }}
        resources:
          limits:
            cpu: {{ controller_container_limits_cpu }}
            memory: {{ controller_container_limits_memory }}
          requests:
            cpu: {{ controller_container_requests_cpu }}
            memory: {{ controller_container_requests_memory }}
        volumeMounts:
        - mountPath: {{ profiler_volume_path }}
          name: profiler
{% if k8s_cluster|bool %}
        - mountPath: /var/run/secrets/{{ inventory_tls_secret_name }}
          name: {{ inventory_service_name }}-serving-cert
{% endif %}
      - name: inventory
        command:
        - /usr/local/bin/forklift-controller
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: ROLE
          value: inventory
        - name: KUBEVIRT_CLIENT_GO_SCHEME_REGISTRATION_VERSION
          value: "v1"
        - name: AUTH_REQUIRED
          value: '{{ feature_auth_required|lower }}'
        - name: API_PORT
          value: "8443"
        - name: API_TLS_CERTIFICATE
          value: "/var/run/secrets/{{ inventory_tls_secret_name }}/tls.crt"
        - name: API_TLS_KEY
          value: /var/run/secrets/{{ inventory_tls_secret_name }}/tls.key
        - name: METRICS_PORT
          value: '8082'
        - name: OVA_PROVIDER_SERVER_IMAGE
          value: {{ ova_provider_server_fqin }}
{% if feature_validation|bool %}
        - name: POLICY_AGENT_URL
          value: "https://{{ validation_service_name }}.{{ app_namespace }}.svc.cluster.local:8181"
        - name: POLICY_AGENT_CA
{% if k8s_cluster|bool %}
          value: /var/run/secrets/{{ validation_tls_secret_name }}/ca.crt
{% else %}
          value: "/var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt"
{% endif %}
        - name: POLICY_AGENT_SEARCH_INTERVAL
          value: "{{ validation_policy_agent_search_interval }}"
{% endif %}
{% if controller_log_level is defined and controller_log_level is number %}
        - name: LOG_LEVEL
          value: "{{ controller_log_level }}"
{% endif %}
        - name: OPENSHIFT
{% if k8s_cluster|bool %}
          value: "false"
{% else %}
          value: "true"
{% endif %}
{% if controller_profile_kind is defined and controller_profile_path is defined and controller_profile_duration is defined %}
        - name: PROFILE_KIND
          value: "{{ controller_profile_kind }}"
        - name: PROFILE_PATH
          value: "{{ controller_profile_path }}/inventory"
        - name: PROFILE_DURATION
          value: "{{ controller_profile_duration }}"
{% endif %}

        envFrom:
        - configMapRef:
            name: {{ controller_configmap_name }}
        image: {{ controller_image_fqin }}
        imagePullPolicy: {{ image_pull_policy }}
        ports:
        - name: api
          containerPort: 8443
          protocol: TCP
        resources:
          limits:
            cpu: {{ inventory_container_limits_cpu }}
            memory: {{ inventory_container_limits_memory }}
          requests:
            cpu: {{ inventory_container_requests_cpu }}
            memory: {{ inventory_container_requests_memory }}
        volumeMounts:
        - mountPath: {{ inventory_volume_path }}
          name: inventory
        - mountPath: {{ profiler_volume_path }}
          name: profiler
        - mountPath: /var/run/secrets/{{ inventory_tls_secret_name }}
          name: {{ inventory_service_name }}-serving-cert
{% if feature_validation|bool %}
        - name: {{ validation_tls_secret_name }}
          mountPath: /var/run/secrets/{{ validation_tls_secret_name }}
{% endif %}
      terminationGracePeriodSeconds: 10
      volumes:
      - name: {{ inventory_tls_secret_name }}
        secret:
          defaultMode: 420
          secretName: {{ inventory_tls_secret_name }}
{% if feature_validation|bool %}
      - name: {{ validation_tls_secret_name }}
        secret:
          secretName: {{ validation_tls_secret_name }}
          defaultMode: 420
{% endif %}
      - name: inventory
        emptyDir: {}
      - name: profiler
        emptyDir: {}
