---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ controller_service_name }}-token"
  namespace: "{{ app_namespace }}"
  annotations:
    kubernetes.io/service-account.name: "{{ controller_service_name }}"
type: kubernetes.io/service-account-token