---
apiVersion: v1
kind: Service
metadata:
{% if not k8s_cluster|bool %}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ inventory_tls_secret_name }}
{% endif %}
  labels:
    app: {{ app_name }}
    service: {{ inventory_service_name }}
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
  name: {{ inventory_service_name }}
  namespace: {{ app_namespace }}
spec:
  ports:
  - name: api-https
    port: 8443
    targetPort: 8443
    protocol: TCP
  selector:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
