---
apiVersion: v1
kind: Service
metadata:
  name: {{ mcp_server_service_name }}
  namespace: "{{ app_namespace }}"
  labels:
    app: {{ app_name }}
    service: {{ mcp_server_service_name }}
spec:
  ports:
    - name: mcp
      protocol: TCP
      port: 8081
      targetPort: 8081
  selector:
    app: {{ app_name }}
    service: {{ mcp_server_service_name }}
  type: ClusterIP
  sessionAffinity: None
