---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ ui_tls_secret_name }}
  name: {{ ui_service_name }}
  namespace: "{{ app_namespace }}"
  labels:
    app: {{ app_name }}
    service: {{ ui_service_name }}
spec:
  ports:
{% if ui_tls_enabled|bool %}
    - name: ui-https
      port: 8443
      targetPort: 8443
      protocol: TCP
{% else %}
    - name: ui-http
      port: 8080
      targetPort: 8080
      protocol: TCP
{% endif %}
  selector:
    app: {{ app_name }}
    service: {{ ui_service_name }}
