# permissions to do leader election.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: forklift-controller-role
rules:
- apiGroups:
  - forklift.konveyor.io
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - pods
  - secrets
  - namespaces
  - events
  - configmaps
  # PVs added for the populator(s) that uses the same role as forklift-controller
  - persistentvolumes
  - persistentvolumeclaims
  - services
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - k8s.cni.cncf.io
  resources:
  - network-attachment-definitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kubevirt.io
  resources:
  - virtualmachines
  - virtualmachines/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - cdi.kubevirt.io
  resources:
  - datavolumes
  - datavolumes/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - security.openshift.io
  resources:
  - securitycontextconstraints
  resourceNames:
  - anyuid
  verbs:
  - use
- apiGroups:
  - template.openshift.io
  resources:
  - templates
  verbs:
  - get
  - list
- apiGroups:
  - export.kubevirt.io
  resources:
  - virtualmachineexports
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - instancetype.kubevirt.io
  resources:
  - virtualmachinepreferences
  - virtualmachineclusterpreferences
  - virtualmachineinstancetypes
  - virtualmachineclusterinstancetypes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - create
- apiGroups:
    - build.openshift.io
  resources:
    - builds
    - buildconfigs
    - buildconfigs/instantiate
  verbs:
    - create
    - get
    - list
    - watch
    - update
- apiGroups:
    - image.openshift.io
  resources:
    - imagestreamtags
    - imagestreams
  verbs:
    - get
    - list
    - watch
