---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ cli_download_tls_secret_name }}
  name: {{ cli_download_service_name }}
  namespace: "{{ app_namespace }}"
  labels:
    app: {{ app_name }}
    service: {{ cli_download_service_name }}
spec:
  ports:
    - name: cli-https
      protocol: TCP
      port: 8443
      targetPort: 8443
  selector:
    app: {{ app_name }}
    service: {{ cli_download_service_name }}
  type: ClusterIP
  sessionAffinity: None
