---
apiVersion: console.openshift.io/v1
kind: ConsolePlugin
metadata:
  name: {{ ui_plugin_console_name }}
  annotations:
    console.openshift.io/use-i18n: "true" 
spec:
  backend:
    service:
      name: {{ ui_plugin_service_name }}
      port: 9443
      basePath: '/'
      namespace: {{ app_namespace }}
    type: Service
  displayName: {{ ui_plugin_display_name }}
  i18n:
    loadType: Preload
  proxy:
    - alias: {{ inventory_service_name }}
      authorization: UserToken
      endpoint:
        type: Service
        service:
          name: {{ inventory_service_name }}
          namespace: {{ app_namespace }}
          port: 8443
    - alias: {{ services_service_name }}
      authorization: UserToken
      endpoint:
        type: Service
        service:
          name: {{ services_service_name }}
          namespace: {{ app_namespace }}
          port: 8443
    - alias: {{ ova_proxy_service_name }}
      authorization: UserToken
      endpoint:
        type: Service
        service:
          name: {{ ova_proxy_service_name }}
          namespace: {{ app_namespace }}
          port: 8443
