---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.alpha.openshift.io/serving-cert-secret-name: plugin-serving-cert
  name: {{ ui_plugin_service_name }}
  namespace: "{{ app_namespace }}"
  labels:
    app: {{ app_name }}
    service: {{ ui_plugin_service_name }}
spec:
  ports:
    - name: 9443-tcp
      protocol: TCP
      port: 9443
      targetPort: 9443
  selector:
    app: {{ app_name }}
    service: {{ ui_plugin_service_name }}
  type: ClusterIP
  sessionAffinity: None
