---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ must_gather_api_certificate_name }}
  namespace: {{ app_namespace }}
spec:
  isCA: true
  dnsNames:
  - {{ must_gather_api_service_name }}.{{ app_namespace }}.svc
  - {{ must_gather_api_service_name }}.{{ app_namespace }}.svc.cluster.local
  commonName: {{ must_gather_api_certificate_name }}
  secretName: {{ must_gather_api_tls_secret_name }}
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: {{ app_name }}-issuer
    kind: Issuer
    group: cert-manager.io
