---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ must_gather_api_deployment_name }}
  namespace: {{ app_namespace }}
  labels:
    app: {{ app_name }}
    service: {{ must_gather_api_service_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ app_name }}
      service: {{ must_gather_api_service_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
        service: {{ must_gather_api_service_name }}
    spec:
      containers:
        - name: {{ must_gather_api_container_name }}
          image: {{ must_gather_api_image_fqin }}
          imagePullPolicy: {{ image_pull_policy }}
          ports:
{% if must_gather_api_tls_enabled|bool %}
          - name: api
            containerPort: 8443
            protocol: TCP
{% else %}
          - name: api
            containerPort: 8080
            protocol: TCP
{% endif %}
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
{% if must_gather_api_tls_enabled|bool %}
            - name: PORT
              value: "8443"
            - name: API_TLS_ENABLED
              value: "true"
            - name: API_TLS_CERTIFICATE
              value: "/var/run/secrets/{{ must_gather_api_tls_secret_name }}/tls.crt"
            - name: API_TLS_KEY
              value: "/var/run/secrets/{{ must_gather_api_tls_secret_name }}/tls.key"
{% else %}
            - name: PORT
              value: "8080"
            - name: API_TLS_ENABLED
              value: "false"
{% endif %}
            - name: DB_PATH
              value: "{{ must_gather_api_db_path }}"
            - name: CLEANUP_MAX_AGE
              value: "{{ must_gather_api_cleanup_max_age }}"
            - name: MUST_GATHER_IMAGE
              value: "{{ must_gather_image_fqin }}"
{% if must_gather_api_debug|bool %}
            - name: DEBUG
              value: "true"
{% endif %}
          resources:
            limits:
              cpu: {{ must_gather_api_container_limits_cpu }}
              memory: {{ must_gather_api_container_limits_memory }}
            requests:
              cpu: {{ must_gather_api_container_requests_cpu }}
              memory: {{ must_gather_api_container_requests_memory }}
          volumeMounts:
{% if must_gather_api_tls_enabled|bool %}
            - name: {{ must_gather_api_tls_secret_name }}
              mountPath: /var/run/secrets/{{ must_gather_api_tls_secret_name }}
{% endif %}
      volumes:
{% if must_gather_api_tls_enabled|bool %}
        - name: {{ must_gather_api_tls_secret_name }}
          secret:
            secretName: {{ must_gather_api_tls_secret_name }}
            defaultMode: 420
{% endif %}
