apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: forklift-operator
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: forklift
      name: controller-manager
  template:
    metadata:
      labels:
        app: forklift
        name: controller-manager
    spec:
      serviceAccountName: forklift-operator
      containers:
      - args:
        - --health-probe-bind-address=:6789
        - --metrics-bind-address=127.0.0.1:8080
        - --leader-elect
        - --leader-election-id=forklift-operator
        env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.annotations['olm.targetNamespaces']
        - name: ANSIBLE_GATHERING
          value: explicit
        - name: CONTROLLER_IMAGE
          value: ${CONTROLLER_IMAGE}
        - name: API_IMAGE
          value: ${API_IMAGE}
        - name: MUST_GATHER_IMAGE
          value: ${MUST_GATHER_IMAGE}
        - name: UI_PLUGIN_IMAGE
          value: ${UI_PLUGIN_IMAGE}
        - name: CLI_DOWNLOAD_IMAGE
          value: ${CLI_DOWNLOAD_IMAGE}
        - name: VALIDATION_IMAGE
          value: ${VALIDATION_IMAGE}
        - name: VIRT_V2V_IMAGE
          value: ${VIRT_V2V_IMAGE}
        - name: VIRT_V2V_DONT_REQUEST_KVM
          value: ${VIRT_V2V_DONT_REQUEST_KVM}
        - name: SNAPSHOT_REMOVAL_TIMEOUT
          value: ${SNAPSHOT_REMOVAL_TIMEOUT}
        - name: SNAPSHOT_STATUS_CHECK_RATE
          value: ${SNAPSHOT_STATUS_CHECK_RATE}
        - name: CLEANUP_RETRIES
          value: ${CLEANUP_RETRIES}
        - name: CDI_EXPORT_TOKEN_TTL
          value: ${CDI_EXPORT_TOKEN_TTL}
        - name: FILESYSTEM_OVERHEAD
          value: ${FILESYSTEM_OVERHEAD}
        - name: BLOCK_OVERHEAD
          value: ${BLOCK_OVERHEAD}
        - name: POPULATOR_CONTROLLER_IMAGE
          value: ${POPULATOR_CONTROLLER_IMAGE}
        - name: OVIRT_POPULATOR_IMAGE
          value: ${OVIRT_POPULATOR_IMAGE}
        - name: OPENSTACK_POPULATOR_IMAGE
          value: ${OPENSTACK_POPULATOR_IMAGE}
        - name: OVA_PROVIDER_SERVER_IMAGE
          value: ${OVA_PROVIDER_SERVER_IMAGE}
        - name: OVIRT_OS_MAP
          value: ${OVIRT_OS_MAP}
        - name: VSPHERE_OS_MAP
          value: ${VSPHERE_OS_MAP}
        - name: VIRT_CUSTOMIZE_MAP
          value: ${VIRT_CUSTOMIZE_MAP}
        - name: VSPHERE_XCOPY_VOLUME_POPULATOR_IMAGE
          value: ${VSPHERE_XCOPY_VOLUME_POPULATOR_IMAGE}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 6789
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 6789
          initialDelaySeconds: 5
          periodSeconds: 10
        image: ${OPERATOR_IMAGE}
        imagePullPolicy: Always
        name: forklift-operator
        resources:
          requests:
            cpu: 10m
            memory: 64Mi
