---
app_name: "{{ lookup('env', 'APP_NAME') or 'forklift' }}"
app_namespace: "{{ lookup( 'env', 'WATCH_NAMESPACE') or 'konveyor-forklift' }}"

# Feature defaults
feature_ui_plugin: true
feature_validation: true
feature_volume_populator: true
feature_copy_offload: false

k8s_cluster: false
feature_auth_required: true
image_pull_policy: Always
forklift_operator_version: "latest"
forklift_resources:
  - Deployment
  - ConfigMap
  - Service
  - Route

controller_image_fqin: "{{ lookup( 'env', 'CONTROLLER_IMAGE') or lookup( 'env', 'RELATED_IMAGE_CONTROLLER') }}"
controller_configmap_name: "{{ controller_service_name }}-config"
controller_service_name: "{{ app_name }}-controller"
ovirt_osmap_configmap_name: "forklift-ovirt-osmap"
vsphere_osmap_configmap_name: "forklift-vsphere-osmap"
virt_customize_configmap_name: "forklift-virt-customize"
controller_deployment_name: "{{ controller_service_name }}"
controller_container_name: "{{ app_name }}-controller"
controller_container_limits_cpu: "500m"
controller_container_limits_memory: "800Mi"
controller_container_requests_cpu: "100m"
controller_container_requests_memory: "350Mi"
controller_log_level: 3
controller_precopy_interval: 60
controller_snapshot_removal_timeout_minuts: 120
controller_snapshot_status_check_rate_seconds: 10
controller_cleanup_retries: 10
controller_dv_status_check_retries: 10
controller_snapshot_removal_check_retries: 20
controller_vsphere_incremental_backup: true
controller_ovirt_warm_migration: true
controller_retain_precopy_importer_pods: false
controller_max_vm_inflight: 20
controller_filesystem_overhead: 10
controller_block_overhead: 0
controller_vddk_job_active_deadline_sec: 300
profiler_volume_path: "/var/cache/profiler"

inventory_volume_path: "/var/cache/inventory"
inventory_container_name: "{{ app_name }}-inventory"
inventory_service_name: "{{ app_name }}-inventory"
inventory_route_name: "{{ inventory_service_name }}"
inventory_container_limits_cpu: "1000m"
inventory_container_limits_memory: "1Gi"
inventory_container_requests_cpu: "500m"
inventory_container_requests_memory: "500Mi"
inventory_tls_secret_name: "{{ inventory_service_name }}-serving-cert"
inventory_issuer_name: "{{ inventory_service_name }}-issuer"
inventory_certificate_name: "{{ inventory_service_name }}-certificate"

services_service_name: "{{ app_name }}-services"
services_route_name: "{{ services_service_name }}"
services_tls_secret_name: "{{ services_service_name }}-serving-cert"
services_issuer_name: "{{ services_service_name }}-issuer"
services_certificate_name: "{{ services_service_name }}-certificate"

validation_image_fqin: "{{ lookup( 'env', 'VALIDATION_IMAGE') or lookup( 'env', 'RELATED_IMAGE_VALIDATION') }}"
validation_configmap_name: "{{ validation_service_name }}-config"
validation_service_name: "{{ app_name }}-validation"
validation_deployment_name: "{{ validation_service_name }}"
validation_container_name: "{{ app_name }}-validation"
validation_extra_volume_name: "validation-extra-rules"
validation_extra_volume_mountpath: "/usr/share/opa/policies/extra"
validation_policy_agent_search_interval: "120"
validation_container_limits_cpu: "1000m"
validation_container_limits_memory: "300Mi"
validation_container_requests_cpu: "400m"
validation_container_requests_memory: "50Mi"
validation_tls_secret_name: "{{ validation_service_name }}-serving-cert"
validation_issuer_name: "{{ validation_service_name }}-issuer"
validation_certificate_name: "{{ validation_service_name }}-certificate"
validation_state: absent

ui_plugin_image_fqin: "{{ lookup( 'env', 'UI_PLUGIN_IMAGE') or lookup( 'env', 'RELATED_IMAGE_UI_PLUGIN') }}"
ui_plugin_console_name: "{{ app_name }}-console-plugin"
ui_plugin_display_name: "Console plugin for {{ app_name }}"
ui_plugin_service_name: "{{ app_name }}-ui-plugin"
ui_plugin_deployment_name: "{{ ui_plugin_service_name }}"
ui_plugin_container_name: "{{ app_name }}-ui-plugin"
ui_plugin_container_limits_cpu: "100m"
ui_plugin_container_limits_memory: "800Mi"
ui_plugin_container_requests_cpu: "100m"
ui_plugin_container_requests_memory: "150Mi"
ui_plugin_state: absent

api_image_fqin: "{{ lookup( 'env', 'API_IMAGE') or lookup( 'env', 'RELATED_IMAGE_API') }}"
api_service_name: "{{ app_name }}-api"
api_deployment_name: "{{ api_service_name }}"
api_container_name: "{{ app_name }}-api"
api_container_limits_cpu: "1000m"
api_container_limits_memory: "1Gi"
api_container_requests_cpu: "100m"
api_container_requests_memory: "150Mi"
api_tls_secret_name: "{{ api_service_name }}-serving-cert"
api_issuer_name: "{{ api_service_name }}-issuer"
api_certificate_name: "{{ api_service_name }}-certificate"

populator_controller_image_fqin: "{{ lookup( 'env', 'POPULATOR_CONTROLLER_IMAGE') or lookup( 'env', 'RELATED_IMAGE_POPULATOR_CONTROLLER') }}"
populator_ovirt_image_fqin: "{{ lookup( 'env', 'OVIRT_POPULATOR_IMAGE') or lookup( 'env', 'RELATED_IMAGE_RHV_POPULATOR') }}"
populator_controller_deployment_name: "{{ app_name }}-volume-populator-controller"
populator_controller_container_name: "{{ app_name }}-populator-controller"
populator_openstack_image_fqin: "{{ lookup( 'env', 'OPENSTACK_POPULATOR_IMAGE') or lookup( 'env', 'RELATED_IMAGE_OPENSTACK_POPULATOR') }}"
populator_vsphere_xcopy_volume_image_fqin: "{{ lookup( 'env', 'VSPHERE_XCOPY_VOLUME_POPULATOR_IMAGE') or lookup( 'env', 'RELATED_IMAGE_VSPHERE_XCOPY_VOLUME_POPULATOR') }}"

must_gather_image_fqin: "{{ lookup( 'env', 'MUST_GATHER_IMAGE') or lookup( 'env', 'RELATED_IMAGE_MUST_GATHER') }}"

virt_v2v_image_fqin: "{{ lookup( 'env', 'VIRT_V2V_IMAGE') or lookup( 'env', 'RELATED_IMAGE_VIRT_V2V') }}"
virt_v2v_dont_request_kvm: "{{ lookup( 'env', 'VIRT_V2V_DONT_REQUEST_KVM') }}"
virt_v2v_extra_args: "{{ lookup( 'env', 'VIRT_V2V_EXTRA_ARGS') }}"
virt_v2v_extra_conf_config_map: "{{ lookup( 'env', 'VIRT_V2V_EXTRA_CONF_CONFIG_MAP') }}"
virt_v2v_container_limits_cpu: "4000m"
virt_v2v_container_limits_memory: "8Gi"
virt_v2v_container_requests_cpu: "1000m"
virt_v2v_container_requests_memory: "1Gi"

vddk_image: "{{ lookup( 'env', 'VDDK_IMAGE') }}"
vddk_build_config_name: "vddk"
vddk_image_stream_name: "vddk"

hooks_container_limits_cpu: "1000m"
hooks_container_limits_memory: "1Gi"
hooks_container_requests_cpu: "100m"
hooks_container_requests_memory: "150Mi"

ova_provider_server_fqin: "{{ lookup( 'env', 'OVA_PROVIDER_SERVER_IMAGE') or lookup( 'env', 'RELATED_IMAGE_OVA_PROVIDER_SERVER') }}"
ova_container_limits_cpu: "1000m"
ova_container_limits_memory: "1Gi"
ova_container_requests_cpu: "100m"
ova_container_requests_memory: "150Mi"

metric_service_name: "{{ app_name }}-metrics"
metric_servicemonitor_name: "{{ app_name }}-metrics"
metric_interval: "30s"
metric_port_name: "metrics"
metrics_rule_name: "{{app_name}}-migration-rules"

