---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ app_name }}-issuer-selfsigned
  namespace: {{ app_namespace }}
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ app_name }}-certificate
  namespace: {{ app_namespace }}
spec:
  commonName: {{ app_name }}-certificate
  dnsNames:
  - svc
  - svc.cluster.local
  isCA: true
  issuerRef:
    group: cert-manager.io
    kind: Issuer
    name: {{ app_name }}-issuer-selfsigned
  privateKey:
    algorithm: ECDSA
    size: 256
  secretName: {{ app_name }}-cert
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ app_name }}-issuer
  namespace: {{ app_namespace }}
spec:
  ca:
    secretName: {{ app_name }}-cert
