---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ validation_tls_secret_name }}
  name: {{ validation_service_name }}
  namespace: "{{ app_namespace }}"
  labels:
    app: {{ app_name }}
    service: {{ validation_service_name }}
spec:
  type: ClusterIP
  selector:
    app: {{ app_name }}
    service: {{ validation_service_name }}
  ports:
    - name: opa
      port: 8181
      targetPort: 8181
      protocol: TCP
