# Basic CI workflow for pull requests
name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially
jobs:
  ci_setup:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            source_provider: ovirt

          - os: ubuntu-latest
            source_provider: vsphere

          - os: ubuntu-latest
            source_provider: openstack

    runs-on: ${{ matrix.os }}
    env:
      USE_BAZEL_VERSION: 5.4.0
    steps:
      - name: Check out forklift repository
        uses: actions/checkout@v3

      - name: Build and setup everything with bazel
        id: forkliftci
        uses: kubev2v/forkliftci@main
        with:
          gh_access_token: ${{ secrets.GITHUB_TOKEN }}
          provider_name: ${{ matrix.source_provider }}

      - run: kubectl version

      - run: kubectl get pods -n konveyor-forklift

      - name: Test call to Forklift
        run: |
          curl -k "${{ steps.forkliftci.outputs.cluster }}/apis/forklift.konveyor.io/v1beta1/namespaces/konveyor-forklift/providers" --header "Authorization: Bearer ${{ steps.forkliftci.outputs.token }}"

      # Run e2e sanity
      - name: Run e2e sanity suite
        env:
          OVIRT_USERNAME: admin@internal
          OVIRT_PASSWORD: 123456
          OVIRT_URL: https://fakeovirt.konveyor-forklift:30001/ovirt-engine/api
          OVIRT_CACERT: /home/runner/work/_actions/kubev2v/forkliftci/main/cluster/providers/ovirt/e2e_cacert.cer
          STORAGE_CLASS: standard
          OVIRT_VM_ID: 31573c08-717b-43e0-825f-69a36fb0e1a1
        run: |
          GOPATH=${GITHUB_WORKSPACE}/go make e2e-sanity-${{ matrix.source_provider }}

      # TODO: execute this step only on failures
      - name: save k8s logs
        if: always()
        run: |
          mkdir /tmp/artifacts/
          kubectl get pods -n konveyor-forklift >> /tmp/artifacts/k8s-pods.log
          kubectl get events --field-selector type!=Normal -A --sort-by='.lastTimestamp' >> /tmp/artifacts/k8s_abnormal_events.log
          kubectl get all -n konveyor-forklift -o yaml >> /tmp/artifacts/k8s-all-forklift-objects.log
          kubectl logs -n konveyor-forklift $(kubectl get po -n konveyor-forklift  -o=name | grep forklift-controller) >> /tmp/artifacts/forklift-controller-inventory.log

      - uses: actions/upload-artifact@master
        if: always()
        with:
          name: k8s-forklift-logs
          path: /tmp/artifacts



  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checks-out repository under $GITHUB_WORKSPACE
        uses: actions/checkout@v2
        with:
          path: go/src/github.com/${{github.repository}}

      - name: Cache Go modules
        uses: actions/cache@v2
        with:
          path: ${HOME}/go/pkg/mod
          key: ${{ runner.os }}-build-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}-
            ${{ runner.OS }}-build-
            ${{ runner.OS }}

      - name: Setup Golang
        uses: actions/setup-go@v2
        with:
          # NOTE: Keep the version in sync with Go toolchain in WORKSPACE.
          go-version: '1.19.3'

      # Setup the run environment and run CI test suite
      - name: Run test suite
        run: |
          cd ${GITHUB_WORKSPACE}/go/src/github.com/${GITHUB_REPOSITORY}
          GOPATH=${GITHUB_WORKSPACE}/go make ci

      # Push code coverage using Codecov Action
      - name: Push code coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./go/src/github.com/${{ github.repository }}/cover.out
          flags: unittests
          fail_ci_if_error: false # see https://github.com/codecov/codecov-action/issues/598
