name: Sync to GitLab

on:
  push:
    branches:
      - main
      - 'release-*'

jobs:
  push-to-gitlab:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Still critical for history awareness

      - name: Push to GitLab Repository
        env:
          GITLAB_USER: "mtv"
          GITLAB_REPO: "Forklift"
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
          GITLAB_HOST: ${{ secrets.GITLAB_HOST }}
        run: |
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          echo "Syncing branch: $BRANCH_NAME to GitLab"
          TARGET_URL="https://$GITLAB_USER:$GITLAB_TOKEN@$GITLAB_HOST/$GITLAB_USER/$GITLAB_REPO.git"
          # Add internal remote
          git remote add internal "$TARGET_URL"
          # Fetch internal commits
          git pull internal "$BRANCH_NAME" --rebase
          git checkout "$BRANCH_NAME"
          # Needed to "relocate" the internal commits to the HEAD
          git pull origin "$BRANCH_NAME" --rebase
          # Push to the internal instance
          git push internal "$BRANCH_NAME" -f
